*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('./img/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* 
body img.bgWindows{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

#barraDeTarefas{
    background: #0009;
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 0;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15pt;
    overflow: hidden;
}

#barraDeTarefas span:hover{
    background: #ccc5;
    height: 40px;
    padding: 10px;
    position: absolute;
    transition: all .5s ease;

}

#barraDeTarefas span{
    padding: 10px;
    position: absolute;
    cursor: pointer;
}

#barraDeTarefas #ladoEsquerdo{
    position: relative;
    float: left;
    display: flex;
}

#barraDeTarefas #ladoEsquerdo span{
    position: relative;
    cursor: pointer;
    font-size: 14pt;
}

#barraDeTarefas #ladoEsquerdo span#pesquisaLadoEsquerdo{
    transform: rotate(100deg);
    position: relative;
    /* display: flex; */
}

#barraDeTarefas #ladoEsquerdo span#pesquisaLadoEsquerdo:hover{
    background: none;
}

/* Lado Direito */
#barraDeTarefas #ladoDireito{
    position: relative;
    float: right;
    display: flex;
}

#barraDeTarefas #ladoDireito span{
    position: relative;
    transform: scale(.9);
    margin: 0px -5px;
}

#barraDeTarefas #ladoDireito span.seta{
    transform: rotate(180deg);
}


/* Toggle Windos */
#conetudoWindowsToggle{
    position: fixed;
    background: #333;
    border-top: 1px solid #ccc5;
    border-right: 1px solid #ccc5;
    padding: 10px 0;
    left: 0;
    bottom: 45px;
    height: 70vh;
    width: 40%;
    display: none;
    overflow: hidden;
    content: "";
}

#conetudoWindowsToggle.ShowconetudoWindowsToggle{
    display: flex;    
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda1{
    position: relative;
    width: 10%;
    height: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda1 footer {
    position: relative;
    margin: 10px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuario{
    width: 30px;
    height: 28px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda1 .listatoggle{
    font-size: 20pt;
    top: 0;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda1 footer{
    position: relative;
    float: bottom;
}

/* ********** */
#conetudoWindowsToggle #conetudoWindowsToggleEsquerda2{
    position: relative;
    width: 45%;
    /* background: red; */
    height: 100%;
    overflow: auto;
    padding: 10px 0 ;
    transition: all 1s ease;
    overflow-wrap: break-word;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda2::-webkit-scrollbar{
    background: transparent;
    width: 12px;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda2:hover::-webkit-scrollbar{
    background: #fff1;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda2:hover::-webkit-scrollbar-thumb{
    background: #fff5;
    width: 10px;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda2 p{
    font-size: 10pt;
}




/* ********** */
#conetudoWindowsToggle #conetudoWindowsToggleEsquerda3{
    position: relative;
    width: 45%;
    /* background: red; */
    height: 100%;
    overflow: auto;
    padding: 10px 0 ;
    transition: all 1s ease;
    overflow-wrap: break-word;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda3::-webkit-scrollbar{
    background: transparent;
    width: 12px;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda3:hover::-webkit-scrollbar{
    background: #fff1;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda3:hover::-webkit-scrollbar-thumb{
    background: #fff5;
    width: 10px;
}

#conetudoWindowsToggle #conetudoWindowsToggleEsquerda3 p{
    font-size: 10pt;
}
